header{
    background-color: aqua;
    background-image:url(../img/pattern.png);
    background-size:contain;   
    padding-top: 50px;
    padding-bottom: 10px;
}

#logo {
    width: 180px;
    height: auto;
   
}

.testo-secondario{
    color: gray;
}
.scritta-booleaner{
    color: aqua;
}
.didascalie{
    font-size: smaller;
}
.evidenziamento{
    background-color: yellow;
}
.evidenziamento_head_tabella{
    background-color: rgb(0, 166, 255);
    color: white;
}
.evidenziamento_tabella{
    background-color: aqua;
}